@model IEnumerable<LVL3.Model.ViewModels.VehicleMakeViewModel>
<div class="jumbotron">
    @foreach(var item in Model)
    {
        <p>Name: @item.Name, Abrv: @item.Abrv</p>
        <br />
    }
</div>
