<div ng-controller="modelsController" ng-init="getAllModels()">

    <table class="table" id="modelsTable">

        <tr>
            <th>Name</th>
            <th>Abrv</th>
            <th>Maker</th>
        </tr>

        <tr ng-repeat="item in data">
            <td>{{item.Name}}</td>
            <td>{{item.Abrv}}</td>
            <td>{{item.VehicleMakeId}}</td>
            <td>
                <a href="#/model/details/{{item.VehicleModelId}}" class="button">Details</a>
                <a ng-controller="modelDeleteController" ng-href="#/model" ng-click='delete(item.VehicleModelId)' class="button">Delete</a>
            </td>
        </tr>            

    </table>
</div>
