@model IEnumerable<LVL3.Common.ViewModels.VehicleMakeViewModel>
@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Abrv</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Abrv</td>
        </tr>
    }

</table>