<div ng-controller="makersController" ng-init="getAllMakers()">

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Abrv</th>
        </tr>

        <tbody ng-repeat="item in data">
            <tr>
                <td>{{item.Name}}</td>
                <td>{{item.Abrv}}</td>
                <td>
                    <a href="#/make/details/{{item.VehicleMakeId}}" class="button">Details</a>
                    <a ng-controller="makeDeleteController" ng-href="#/make" ng-click='delete(item.VehicleMakeId)' class="button">Delete</a>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>
