<div ng-controller="makeUpdateController" ng-init="updateInit()">
    <form role="form" name="makeUpdateForm">
        <div class="form-group">
            <input type="text" class="form-control" id="name" ng-model="Name" placeholder="{{updateData.Name}}"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="abrv" ng-model="Abrv" placeholder="{{updateData.Abrv}}"/>
        </div>
        <button type="submit" class="btn btn-default" ng-click="UpdateMake()">Update</button>
    </form>
</div>

